@tailwind base;
@tailwind components;
@tailwind utilities;

.comment-section {
  max-width: 350px;
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
