@tailwind base;
@tailwind components;
@tailwind utilities;

.comment-section {
  max-width: 350px;
  max-height: 3em; /* Set your desired max-height for 2 lines of text */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
}
